apiVersion: v1
kind: Service
metadata:
  name: identityserver-service
  namespace: integration-hub
  labels:
    app: identityserver
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: identityserver

