apiVersion: v1
kind: Service
metadata:
  name: gateway-yarp
  namespace: integration-hub
  labels:
    app: gateway-yarp
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: gateway-yarp

