apiVersion: v1
kind: Service
metadata:
  name: inbound-api
  namespace: integration-hub
  labels:
    app: inbound-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: inbound-api

